.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.note-full {
  width: 800px;
  max-width: 800px;
  height: 80vh;
  padding: 20px;
  line-height: 40px;
}

.note-mini {
  margin: 10px;
  cursor: pointer;
}